* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-light: #B4B4B4;
    --font-dark: #000000;
    --bg-light: #F3F4F6;
    --bg-dark: #1E1E1E;
}

body {
    background-color: var(--bg-light);
    color: var(--font-dark);
    font-size: 1rem;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    width: 100%;
    height: 100vh;
}

.currency-container {
    background-color: red;
    padding: 1rem;
    min-width: 30%;
    min-height: 20%;
    width: auto;
    height: auto;
    border-radius: 8px;
}

.currency-container > h1{
    margin-bottom: 1rem;
}